<h1>Photo Details</h1>


<dl>
  <dt>Image</dt>
    <dd><img scr="<%= @the_photo.image%>"></dd>
  <dt>Caption</dt>
    <dd><%= @the_photo.caption%></dd>
  <dt>Owner</dt>
    <dd><%= @the_photo.caption%></dd>
  <dt>Posted</dt>
    <dd><%= @the_photo.poster.username%></dd>
  <dt>Edit Photo</dt>
    <dd><form action="/update_photo/<%= @the_photo.id %>">
        <label for="browser_image">Image</label>
        <input id="browser_image" type="text" name="query_image" placeholder="Enter a URL for the image..." value="<%= @the_photo.image%>">

        <label for="browser_caption">Caption</label>
        <textarea id="browser_caption" name="query_caption" placeholder="Enter a caption for the photo..."><%= @the_photo.caption %></textarea>

        <button>Update photo</button>
      </form>
    </dd>
  <dt>Delete Photo</dt>
    <dd><a href="/delete_photo/<%= @the_photo.id%>">Delete This Photo</a></dd>
</dl>

<h2>Comments</h2>

<h3>Add a new comment</h3>

<table>
  <tbody>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>
  <% @the_photo.comments.each do |a_comment|%>
  <tr>
    <td> <%=a_comment.commenter.username%> </td>

    <td><%=a_comment.body%></td>

    <td><%=a_comment.created_at%></td>
  </tr>
  <%end%>
  </tbody>
</table>

<form action="/add_comment">
  <label for="user_id">Photo ID</label>
    <input id="user_id" type="text" name="comment_pid" value="<%= @the_photo.owner_id%>">

  <label for="author_id">Author ID</label>
    <input id="author_id" name="comment_author" placeholder="Enter your ID">

  <label for="new_comment">Comment</label>
    <textarea id="new_comment" name="comment_body" placeholder="Enter a comment..."></textarea>

  <button href="/photos/<%= @the_photo.id%>">Add comment</button>
</form>
